  .progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .folder-container {
    margin-top: 40px;
    text-align: center;
    height: 390px;
  }

  .folder-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: relative;
  }

  .folder {
    width: 60px;
    height: 40px;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .document {
    background-color: #e6e6e6;
    width: 50px;
    height: 30px;
    border-radius: 2px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .timer {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  .timer span {
    font-weight: bold;
  }

  .button-one{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--success-bg);
    border: none;
    color: var(--primary-bg);
    padding: 12px 0;
    border-radius: 25px;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    width: 260px;
    margin-left: 40%;
  }

  .step-name {
    color: var(--secondary-bg);
    font-weight: bold;
    text-align: center;
  }

  .text-link{
    text-decoration: none ;
  }