.btn {
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background-color: #d6d9ff;
    color: #0a004d;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn:hover {
    background-color: #ff471a;
    color: white;
  }
  