/* Structure principale pour aligner la zone d'upload et les champs de texte */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 20px auto;
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.upload-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  /* Ajout de l'alignement pour les boutons */
}

.file-upload {
  width: 45%;
  border: 2px dashed #a085ff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.upload-icon {
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 10px;
}

.form-fields {
  width: 45%;
}

.input-field, .textarea-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.textarea-field {
  height: 100px;
}

/* Ajout d'un conteneur pour les boutons sur le côté droit */
.button-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px; /* Décalage pour placer les boutons à droite de la zone d'upload */
}

.reset-button, .upload-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.reset-button {
  background-color: #f44336;
  color: #fff;
}

.upload-button {
  background-color: #4caf50;
  color: #fff;
}
