.card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 16px;
    width: 300px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    gap: 16px;
}

.icon-container {
    background-color: var(--primary-bg);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container svg {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.text-subtitle {
    font-size: 14px;
    color: #777;
    margin: 4px 0;
}

.text-link {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}