
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .title {
    font-size: 28px;
    color: #2e2e8a;
    font-weight: bold;
  }
  
  .globalResults {
    margin-bottom: 40px;
  }
  
  .statsSection {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap;
    gap: 40px; */
  }
  