
.box {
  position: relative;
  width: 250px;
  height: 180px;
}

.folder {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 30px;
  clip-path: path("M197.54,59.68v81.74a20.47,20.47,0,0,1-20.46,20.47h-159A18.09,18.09,0,0,1,0,143.8V18.09A18.09,18.09,0,0,1,18.09,0H137.61a18.09,18.09,0,0,1,17.17,12.39v6.82a18.33,18.33,0,0,0,.17,2.58,19.45,19.45,0,0,0,.75,3.5,20.46,20.46,0,0,0,15.24,13.92,19.38,19.38,0,0,0,3.44.44l.86,0h6.14A20.47,20.47,0,0,1,197.54,59.68Z");
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.folder-content p {
  /* text-align: center; */
  margin-top: -10px;
  font-size: 14px;
}

/* Icon in the top-right missing corner */
.corner-icon {
  position: absolute;
  top: 0px;
  right: 56px;
  background-color: var(--primary-color);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level{
  background-color: #F5F5F5;
  color: var(--dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.three-dot-button {
  width: 35px;
  height: 20px;
  border-radius: 20px; /* Rounded rectangle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 20px;
}

.dots span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

/* variant folder style */

.folder.primary {
  background-color: var(--default-bg);
  color: var(--dark-blue);
}

.dots.primary span {
  background-color: var(--primary-color); /* Light blue dot color */
}

.three-dot-button.primary {
  background-color: var(--primary-bg); /* Dark blue background */
}

.folder.secondary {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.dots.secondary span {
  background-color: var(--dark-blue); /* Light blue dot color */
}

.three-dot-button.secondary {
  background-color: var(--default-bg); /* Dark blue background */
}

.folder.dark {
  background-color: var(--dark-blue);
  color: var(--primary-color);
}

.dots.dark span {
  background-color: var(--primary-color); /* Light blue dot color */
}

.three-dot-button.dark {
  background-color: var(--secondary-bg); /* Dark blue background */
}

.folder.grey {
  background-color: #D9D9D9;
  color: var(--dark-blue);
}

.dots.grey span {
  background-color: var(--primary-color); /* Light blue dot color */
}

.three-dot-button.grey {
  background-color: var(--dark-blue); /* Dark blue background */
}

.folder.purple {
  background-color: var(--secondary-bg);
  color: var(--primary-color);
}

.dots.purple span {
  background-color: var(--primary-color); /* Light blue dot color */
}

.three-dot-button.purple {
  background-color: var(--primary-bg); /* Dark blue background */
}