  
  .table-header, .table-row {
    display: grid;
    grid-template-columns: 100px 1fr 100px 100px 100px 100px 100px 100px 100px 100px;
    align-items: center;
    gap: 15px;
    padding: 10px;
  }
  
  .table-header {
    background-color: var(--primary-bg);
    color: white;
    font-weight: semi-bold;
    font-size: 14px;
    padding: 15px 10px;
    border-radius: 10px;
  }
  
  .table-body {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds spacing between each card */
  }

  .table-row {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 10px;
    border: 1px solid var(--default-bg);
  }
  
  .editable {
    color: #000;
  }
  
  .arrow-down {
    color: var(--danger-bg);
  }
  
  .arrow-up {
    color: var(--success-bg);
  }
  
  .actions {
    text-align: center;
  }
  
  .actions .confirm {
    color: green;
    cursor: pointer;
  }
  
  .actions .cancel {
    color: red;
    cursor: pointer;
  }

  .card {
    display: grid;
    grid-template-columns: 50px 1fr 100px 100px 100px 100px 80px 100px 120px 100px;
    align-items: center;
  }


  
.three-dot-button {
  width: 35px;
  height: 20px;
  border-radius: 20px; /* Rounded rectangle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 20px;
}

.dots span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}