.iconiccard{
    background-color: var(--default-bg);
    color : var(--primary-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 5px;

}

.data{
    margin: 0;
}
