.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    position: relative;
  }
  
  .fileInput {
    display: none;
  }
  
  .icon {
    margin-bottom: 10px;
  }
  
  .iconSVG {
    width: 40px;
    height: 40px;
  }
  
  .preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .previewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 120px;
  }
  
  .previewImage {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    position: relative;
  }
  
  .closeIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    color: red;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .preview p {
    margin-top: 8px;
    font-size: 14px;
  }
  