

.circle-btn {
    background-color: #0b006e;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    transition: background-color 0.3s ease;
}

.circle-btn:hover {
    background-color: #01F073; /* Couleur de survol */
    
}



