.exam-card {
    background: #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 440px;
    padding: 20px;
    text-align: left;
    position: relative;
  }

  .exam-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .exam-header h2 {
    margin: 0;
    color: var(--primary-bg);
    font-weight: bold;
  }

  .edit-button {
    background: var(--success-bg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .edit-button .edit-icon {
    color: #2db9ac;
    font-size: 18px;
  }

  .exam-details {
    line-height: 1.8;
  }

  .exam-details p {
    margin: 0;
    font-size: 20px;
    color: #333;
  }

  .exam-details p strong {
    font-weight: bold;
  }

  .correct-exam-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--success-bg);
    border: none;
    color: var(--dark-blue);
    padding: 12px 0;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    text-align: center;
    font-weight: bold;
  }

  .correct-exam-button .correct-icon {
    margin-right: 8px;
  }

  .correct-exam-button:hover {
    /* background: #00b859; */
  }