  .exam-card {
    width: 500px;
    padding: 20px;
    text-align: left;
    margin-left: -18px;
  }

  .exam-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .exam-details {
    line-height: 1.8;
    padding: 20px;
    background-color: var(--default-bg);
    border-radius: 20px;
  }

  .exam-details p {
    margin: 0;
    font-size: 18px;
    color: var(--dark-blue);
  }

  .exam-details p strong {
    font-weight: bold;
  }

  .correct-exam-button {
    align-items: center;
    justify-content: center;
    background: var(--primary-bg);
    border: none;
    color: var(--primary-color);
    padding: 12px 0;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    left: 20px;
    right: 20px;
    bottom: 20px;
    text-align: center;
  }

  .subtitle{
    font-size: 1.125rem; /* Relative font size (18px equivalent) */
    font-weight: 600;
    margin-bottom: 0.625rem; /* 10px equivalent in rem */
    color: var(--secondary-bg);
  }

  .label-cell {
    width: 100px;
    font-weight: normal;
  }
