.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  padding: 20px;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.popupHeader {
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #ff4757; /* A red background on hover */
  transform: scale(1.1); /* Scale effect */
}

.icon {
  color: #fff; /* White icon color */
  font-size: 24px;
}

.popupBody {
  margin-top: 20px;
}

/* Fade in and fade out animations */
.fadeIn {
  opacity: 1;
  transform: scale(1);
}

.fadeOut {
  opacity: 0;
  transform: scale(0.9);
}
