/* page.module.css */
.searchSection{
  background-color: rgb(255, 255, 255);
  border-radius: 1;

}
/* Section de la barre de recherche */
.searchSection {
  margin-bottom: 20px;
  margin-right: 30px;
}

.grandTitre{
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 15px;
  color:#15004F;
}
/* Titre principal de la section de ressources */
.allResources {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 30px;
  margin-bottom: 0;
  color: blueviolet;
}

/* Section des filtres */
.filtersSection {

  padding-bottom: 20px;
  margin-left: 30px;

}

.filtersSection .validateButton {
  align-self: flex-end;
}

/* Section des ressources principales */
/* .resourcesSection {
  padding-top: 20px;
} */

.topResources {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: blueviolet;
  margin-left: 30px;
}

.resourcesSection .col-md-4 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Style pour la section des fichiers récents */
.fileListSection {
  padding-left: 0;
  margin-top: 50px;
}

/* Titre de la section "Add recently" */


/* Espacement entre les éléments de la liste */
.fileListSection .col-md-12 {
  padding: 0;  
}

/* Style global pour ajouter un espace entre les lignes (remplace la marge inline si besoin) */
.mt-2 {
  margin-top: 10px;
}

/* Assurez-vous que .fileListSection soit bien appliquée */
.fileListSection .row {
  margin-left: -15px;
  margin-right: -15px;
}

