
.box {
    position: relative;
    width: 300px;
    height: 250px;
  }
  
  .folder {
    width: 300px;
    height: 240px;
    position: relative;
    border-radius: 30px;
   clip-path: path(
  "M296.31,89.52v122.61a30.7,30.7,0,0,1-30.69,30.7h-238.5A27.14,27.14,0,0,1,0,107.85V27.14A27.14,27.14,0,0,1,27.14,0H206.41a27.14,27.14,0,0,1,25.75,18.58v10.23a27.5,27.5,0,0,0,.26,3.87,29.18,29.18,0,0,0,1.13,5.25,30.69,30.69,0,0,0,22.86,20.88,29.08,29.08,0,0,0,5.16.66h9.21A30.7,30.7,0,0,1,296.31,89.52Z"
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 15px;
  }
  
  .folder-content p {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 14px;
  }

  .folder-content h5 {
    padding-top: 30px;
    margin-left: 8px;
   }
  
   .folder-content h6 {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    overflow: hidden;    /* Cache le texte qui déborde */
    text-overflow: ellipsis; /* Ajoute les trois points (...) */
    max-width: 80%; /* Définit la largeur maximale du titre */
    margin-left: 8px;
   }
  

  
  /* Icon in the top-right missing corner */
  .corner-icon {
    position: absolute; /* Position fixe dans le conteneur */
    top: 5px; /* Ajuste pour être proche du coin supérieur gauche */
    right: 5px; /* Ajuste pour être proche du coin gauche */
    z-index: 10; /* Toujours visible au-dessus des autres éléments */
    width: 50px; /* Augmenté pour une meilleure visibilité */
    height: 50px;
    
  }
  
  .corner-icon svg {
    width: 45px; /* Augmentation de la taille du SVG */
    height: 45px;
    fill: #01F073; /* Garde la couleur verte */
    transition: transform 0.3s ease-in-out; /* Animation au survol */
  }
  
  .corner-icon:hover svg {
    transform: scale(1.2); /* Agrandissement au survol */
  }
  
  
  .level-icon {
    
      background-color: #ffffff;
      color: var(--dark-blue);
      width: 60px;
      height: 60px;
      margin-left: 8px;
      border-radius: 50%;
      display: flex;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
  .three-dot-button {
    width: 40px;
    height: 30px;
    border-radius: 20px; 
    margin-left: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dots {
    display: flex;
    justify-content: space-between;
    width: 20px;
  }
  


  .dots span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: var(--primary-color); /* Couleur dynamique */
    border-radius: 50%;
  }

  .Bouton{
    margin-right: 100px;
  }

  .popup {
    position: absolute;
    top: 45%;
    right: -180px; /* Décale le popup à droite */
    transform: translateY(-50%); /* Centrage vertical */
    width: 200px; /* Ajuste la largeur */
    height: 220px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 30px; /* Coins arrondis */
    padding: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 12px; /* Espacement entre les boutons */
  }
  
  .popup-item {
    display: flex;
    align-items: center; /* Aligne l'icône et le texte verticalement */
    font-size: 16px; /* Ajuste la taille du texte */
    font-weight: 600; /* Texte en gras */
    padding: 12px 16px; /* Espacement interne */
    width: 80px; /* Ajuste la largeur */
    height: 100px;
    background-color: #e6e4e4; /* Couleur de fond */
    color: #0b006e;
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .popup-item:hover {
    background-color: #01F073; /* Bleu au survol */
    color: #0b006e;
  }
  
  .popup-item .icon {
    margin-right: 10px; /* Espace entre l'image et le texte */
    flex-shrink: 0; /* Empêche l'image de rétrécir */
    width: 25px; /* Taille de l'icône */
    height: 25px; /* Taille de l'icône */
  }
  
  .popup-item span {
    margin-left: 8px; /* Ajoute un espace supplémentaire pour le texte si nécessaire */
  }
  
  
  


  
  /* variant folder style */
  
  .folder.primary {
    background-color: var(--default-bg);
    color: var(--dark-blue);
  }
  
  .dots.primary span {
    background-color: var(--primary-color); /* Light blue dot color */
  }
  
  .three-dot-button.primary {
    background-color: var(--primary-bg); /* Dark blue background */
  }
  
  .folder.secondary {
    background-color: var(--primary-bg);
    color: var(--primary-color);
  }
  
  .dots.secondary span {
    background-color: var(--dark-blue); /* Light blue dot color */
  }
  
  .three-dot-button.secondary {
    background-color: var(--default-bg); /* Dark blue background */
  }
  
  .folder.dark {
    background-color: #FEB500;
    color: var(--primary-bg);
  }
  
  .dots.dark span {
    background-color: var(--primary-color); /* Light blue dot color */
  }
  
  .three-dot-button.dark {
    background-color: var(--primary-bg); /* Dark blue background */
  }
  
  .folder.rouge
  {
    background-color: #FD8C8C;
    color: var(--primary-bg);
  }
  

  .dots.rouge span {
    background-color: var(--primary-color); /* Light blue dot color */
  }
  .three-dot-button.rouge {
    background-color: var(--primary-bg); /* Dark blue background */
  }
  
  .folder.purple {
    background-color: #C688FF;
    color: var(--primary-bg);
  }
  
  .dots.purple span {
    background-color: var(--primary-color); /* Light blue dot color */
  }
  
  .three-dot-button.purple {
    background-color: var(--primary-bg); /* Dark blue background */
  }