.card {
    width: auto;  /* Allows the card to grow based on its content */
    height: auto; /* Makes the height flexible */
    max-width: 100%; /* Ensures the card doesn't exceed the container width */
    max-height: 100%; /* Prevents the card from exceeding the container height */
    background-color: #ffffff;
    border-radius: 18px;
    border:0px;
    padding: 2rem; /* Use relative units for padding */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
    margin: 2% 2% 2% 0%;
}

.title {
    font-size: 1.125rem; /* Relative font size (18px equivalent) */
    font-weight: 600;
    margin-bottom: 0.625rem; /* 10px equivalent in rem */
    color: #7D06EA;
}


/* Primary card variation */
.card-primary {
    background-color: var(--primary-mbg);
    color: var(--primary-mcolor);
}

/* Danger card variation */
.card-danger {
    background-color: var(--danger-mbg);
    color: var(--danger-mcolor);
}

/* Warning card variation */
.card-warning {
    background-color: var(--warning-mbg);
    color: var(--warning-mcolor);
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .card {
        padding: 1.5rem; /* Smaller padding for mobile screens */
    }
    
    .title {
        font-size: 1rem; /* Smaller font size for mobile screens */
    }
}

@media (max-width: 480px) {
    .card {
        padding: 1rem; /* Further reduced padding for smaller devices */
    }
    
    .title {
        font-size: 0.875rem; /* Further reduced font size */
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

